.features{
    /* height: 100vh; */
    width: 100%;
    background-color: var(--color-white);
    padding: 5rem;
  }
  .features h1{
    text-align: center;
    margin-top: 2rem;
    color: var(--color-purple);
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 80px;
    position: relative;
  }
  .features p{
    text-align: center;
    color: var(--color-grey);
    
  }
  .features_cardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
  }
  .features_cardContainer-card{
    padding: 1rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .features_cardContainer-card_icon, .features_cardContainer-card_subtext{
    text-align: center;
  }
  .features_cardContainer-card_icon{
    color: var(--color-bgBlack);
    transition: 0.3s ease;
    margin-bottom: 2rem;
  }
  .features_cardContainer-card_icon:hover{
    color: var(--color-purple);
  }